// COLORS
$color-primary: #00bc9c;
$color-main-100: #ffffff;
$color-main-200: #f5f7fa;
$color-main-300: #f2f5f7;
$color-main-400: #e6e9ed;
$color-slate-100: #a2b0be;
$color-slate-200: #73879c;
$color-slate-300: #506a85;
$color-slate-400: #4d5c6b;
$color-slate-500: #3c5065;
$color-slate-600: #37474f;
$color-slate-700: #2f4052;
$color-slate-800: #283645;