.advantages {
    padding: 12rem 0;
    text-align: center;

    &__heading {
        margin-bottom: 2rem;
    }
    
    &__text {
        font-size: 2.2rem;
        color: $color-slate-200;
        margin-bottom: 4rem;
    }

    &__block {
        display: flex;
    }

    &__advantage {
        padding: 1rem;
        text-align: left;
        display: flex;

        &--icon {
            font-size: 6rem;
            line-height: 1;
            color: $color-primary;
            padding: 0 1.5rem;
        }

        &--heading {
            padding-bottom: 2rem;
        }
    }
}